* {
    margin: 0;
    padding: 0;
}

.block1,
.block2,
.block3,
.block4 {
    display:flex;
}

.block1 {
    height: 240px;
    /* background: #1f2937 */
    background-color: azure;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    align-items: center;
}

.logo img{
    display:flex;
    width: 50px;
}

.links {
    display:flex;
    margin-left: auto;
}

.block2 {
    height: 200px;
    width: 100%;
    background-color: aqua;
}

.block3 {
    height: 200px;
    width: 100%;
    background-color: rebeccapurple;
}

.block4 {
    height: 200px;
    width: 100%;
    background-color: aquamarine;
}