* {
    margin: 0;
    padding: 0;
    font-family: Hero
}

.block1,
.block2,
.block3,
.block4 {
    padding: 0 100px;
}

.block1 {
    height: 400px;
    background: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    align-items: center;
}

.logo img{
    width: 50px; 
}

.links {
    display:flex;
    font-weight: 700;
    color:#e5e7eb;
    gap: 30px;
}

.block1 .content {
    display:flex;
    justify-content: space-between;
}

.block1 .content .text {
    display:flex;
    flex-direction: column;
    height: 350px;
    justify-content: center;
}

.content .text .bold {
    font-size: 48px;
    font-weight: 1000;
    color: #f9faf8;
    width: 450px;
}

.content .text .unbold {
    font-size: 18px;
    color: #e5e7eb;
}

.content .image {
    display:flex;
    align-items: center;
    height: 350px;

}

.content img {
    width: 280px;
    height: 180px;
    padding-left: 50px;
}

button.headercta {
    display:flex;
    width: 120px;
    height: 40px;
    margin-top: 8px;
    font-size: 16px;
    font-weight: bold;
    background-color: #3882f6;
    border-radius: 10px;
    color: white;
    justify-content: center;
    align-items: center;
}

.block2 {
    height: 200px;
    width: 100%;
    background-color: aqua;
}

.block3 {
    height: 200px;
    width: 100%;
    background-color: rebeccapurple;
}

.block4 {
    height: 200px;
    width: 100%;
    background-color: aquamarine;
}